@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

* {
  cursor: none;
}
html {
  scroll-behavior: smooth;
}